<!doctype html>
<html>

<head>
<title> Cartas de willy </title>
</head>

<body>

<center><h3> Todos las cartas segun mazo </h3></center>
<hr>
<br>
<table align='center'>

{% for each, each2 in returning %}
  <tr>
  <td>
  {% if not each.startswith('/static')%}
  <p>{{ each }}</p> 
  {% endif %}
  {% if each.startswith('/static') %}
  <img src="{{ each }}" height = "185" width = "132"> </img> 
  {% endif %}
  </td>
  <td>
  {% if not each2.startswith('/static')%}
  <p>{{ each2 }}</p> 
  {% endif %}
  {% if each2.startswith('/static') %}
  <img src="{{ each2 }}" height = "185" width = "132"> </img> 
  {% endif %}
  </td>
  </tr>
{% endfor %}

<table align='center'>
<tr><td>
  <form action="/cadaCarta/<number>" method="post">
    <input type="submit" value="Volver" name="pVolver" style="height:40px; width:100px" ></input>
  </form>
</td></tr>
</table>


</table>

</body>
</html>
