<!doctype html>
<html>

<head>
<title> Cartas de willy </title>
   <style type="text/css">
      input {position:relative;
          width:275px;
          height:80px;
          font-size:18px;}
   </style>

</head>

<body>

<center><h3> Todos las cartas segun mazo </h3></center>
<hr>
<br>

<form action="/" method="post">
<table align="center">
  <tr>
    <td><input type="submit" value=1 name="opcion"></td>
  </tr> 
  <tr>
    <td><input type="submit" value=2 name="opcion"></td>
  </tr> 
  <tr>
    <td><input type="submit" value=3 name="opcion"></td>
  </tr>  
  <tr>
    <td><input type="submit" value="Calcular Mana" name="opcion"></td>
  </tr>  
  <tr>
    <td><input type="submit" value="Cartas sueltas" name="opcion"></td>
  </tr>
 
</table>
</form>


</body>
</html>








