<!DOCTYPE html>
<html lang="en">
<head>
  <title>Template</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-    BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-  Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<meta name = "viewport" content = "width = device-width">

</head>

<body>


<div class="container-fluid">
  
    <center><h3> Todas las cartas sueltas </h3></center>
    <hr>
    <br><br>

    <div class="row"> 
      <div class="col-md-2" style="background-color: #333333"> 
        <form action="/cartasSueltas" method="post">
        <input type="submit" value="Inicio" name="pInicio" style="height:40px; width:125px" ></input>
        <input type="submit" value="Calcular Mana" name="pInicio" style="height:40px; width:125px" ></input>
        </form>
      </div>
      <div class="col-md-6" style="background-color: #43853D">

      <table align='center'>


      {% for each in returning %}
      <tr>   
      <td><b>
      {{ each[0] }} 
      </b></td>
      <td>
      {{ each[1] }} 
      </td>
      <td>
      {{ each[2] }} 
      </td>
      </tr> 

      {% endfor %}
 
      </table>

      </div>

    </div>
    
</div>




</body>
</html>
